@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200;300;400;500&family=Open+Sans:wght@400;500&family=PT+Serif&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100&family=Space+Mono&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* Common class  */

.btn-primary {
    padding: 15px 30px;
    background-color: #FF42A5; 
    border-radius: 48px;
    border: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
}

.btn-second {
    background-color: #4EC5F7; 
}






/* nav section start */

nav {
    background: #FFF;
    box-shadow: 2px 2px 10px rgb(235, 235, 235);
}

.nav-container{
    max-width: 1140px;
    margin: 0 auto;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    /* box-shadow: 2px 2px 10px black; */
}

.logo {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center; 
}

.logo p {
    font-size: 30px;
    font-weight: 700;
    padding-left: 10px;
}

.logo img {
    width: 60px;
}

.G-icon {
    background: #FF42A5 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul {
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.nav-button {
    width: 210px;
    height: 45px;
     padding: 5px 24px;
     border-radius: 8px;
     background: rgba(11, 2, 35, 0.10);
     display: flex;
     justify-content: center;
     align-items: center;
     color: #3C354F;
     font-size: 1rem;
     font-weight: 500;
}

ul a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.fa-brands {
    padding-left: 10px;
}

/* header section start hear */

.header-container {
    max-width: 1140px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
}

.header-text {
    width: 50%;
    background-image: url(../images/Group14.png);
    background-position: left;
    background-size: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-img {
    width: 50%
}

.header-img img {
    width: 100%;
}

/* .header-text1 img {
    display: flex;
    display: block;
} */

.header-text1 h2 {
    color: #0B0223;
    font-weight: 600;
    font-size: 35px;
}
.header-text1 h1 {
    color: #4915d8;
    font-weight: 1000;
    font-size: 68px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-text1 p {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    padding: 4px;
}

  /* gamer section start */

  .game-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  }

  .gamer-container {
    max-width: 1140px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gamer-img{
    width: 70%;
  }

  .game-text {
    text-align: right;
  }
  .game-text h1 {
    font-size: 35px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }






  





/* mobile devices */

@media screen and (max-width: 576px) {
    .nav-container, ul  {
        flex-direction: column;
    }
    .logo {
        width: 100%;
        justify-content: center;
        margin-top: 25px;
    }

    .header-container {
        flex-direction: column-reverse;
    }

    ul {
        width: 100%;
        margin-top: 20px;
    }

    li {
        margin-top:10px ;
    }

    .nav-button {
        margin-top: 15px;
    } 

    nav {
        box-shadow: 2px 2px 10px rgb(255, 255, 255);
    }

    .header-text, .header-img {
        width: 100%;
        padding: 20px;
    }

    .header-text1 {
        margin-left: 40px;
    }

}



/* Tab devices */

@media screen and (min-width:576px) and (max-width:960px) {
    
.nav-container {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

    .nav-button {
        margin-right: 10px;
    }
    li {
        margin-left: 30px;
    }
    ul {
        width: 100%;
    }
}