@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200;300;400;500&family=Open+Sans:wght@400;500&family=PT+Serif&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100&family=Space+Mono&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* Common class  */








/* nav section start */

