@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200;300;400;500&family=Open+Sans:wght@400;500&family=PT+Serif&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100&family=Space+Mono&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* Common class  */

.btn-primary {
    padding: 15px 30px;
    background-color: #FF42A5; 
    border-radius: 48px;
    border: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
}

.btn-second {
    background-color: #4EC5F7; 
}






/* nav section start */

nav {
    background: #FFF;
    box-shadow: 2px 2px 10px rgb(235, 235, 235);
}

.nav-container{
    max-width: 1140px;
    margin: 0 auto;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    /* box-shadow: 2px 2px 10px black; */
}

.logo {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center; 
}

.logo p {
    font-size: 30px;
    font-weight: 700;
    padding-left: 10px;
}

.logo img {
    width: 60px;
}

.G-icon {
    background: #FF42A5 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul {
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.nav-button {
    width: 220px;
    height: 45px;
     padding: 5px 10px;
     border-radius: 8px;
     background: rgba(11, 2, 35, 0.10);
     display: flex;
     justify-content: center;
     align-items: center;
     color: #3C354F;
     font-size: 1rem;
     font-weight: 500;
}

.nav-button p {
    margin-right: 15px;
}

.nav-button img {
padding-left: 10px;
}

ul a {
    text-decoration: none;
    color: #3C354F;
    font-size: 16px;
    font-weight: 500;
}

.fa-brands {
    padding-left: 10px;
}

                /* header section start hear */

.header-container {
    max-width: 1140px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
}

.header-text {
    width: 50%;
    background-image: url(../images/Group14.png);
    background-position: left;
    background-size: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-img {
    width: 50%
    
}

.header-img img {
    width: 100%;
}

.header-text1 h2 {
    color: #0B0223;
    font-weight: 600;
    font-size: 35px;
}
.header-text1 h1 {
    color: #4915d8;
    font-weight: 1000;
    font-size: 68px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-text1 p > i {
    padding-right: 10px;
}

.header-text1 p {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    padding: 4px;
}

  /* gamer section start */

  .game-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  }

  .gamer-container {
    max-width: 1140px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gamer-img{
    width: 70%;
  }

  .game-text {
    text-align: right;
    width: 50%;
  }
  .game-text h1 {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
  }

.gamer-img img {
    width: 110%;
}

.btn-gamer {
   margin: 20px 0;
}




/* online games section */


.online-game-container {
    max-width: 1140px;
    min-height: 500px;
    margin: 0 auto;
}


.online-game-container h1 {
    color: #0B0223;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 15px;
}

.para-text {
    text-align: center;
    margin-bottom: 50px;
}

.funny-video {
    font-weight: 700;
    font-size: 35px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ------------------------------------------------------ */
.photo-container {
    position: relative;
    display: inline-block;
    height: 200px;
  }
  
  .hover-photo {
    position: absolute;
    top: 55%;
    left: 35%;
    opacity: 0;
    width: 20%;
    margin: auto;
  }
  
  .photo-container:hover .hover-photo {
    opacity: 1;
  }
  
  .photo-container:hover .main-photo {
    opacity: 0.7; 
    filter: brightness(40%) ;
    filter: blur(1.5px);
  }


  .cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }

/* Play Instantly,No Downloads No Installs. section start  */

.downlode-container {
    max-width: 1140px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    margin-top: 80px;
}

.downlode-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downlode-img {
    width: 50%;
}

.downlode-img img {
    width: 80%;
    margin-left: 100px;
}

.d-text h1 {
    font-size: 35px;
    font-weight: 700;
    text-align: right;
}

.play {
    color: #F948B2;
    font-size: 35px;
    font-weight: 700;
}

.d-text p {
    color: #534C64; 
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
    margin-top: 20px;
}

.d-img img {
    width: 40%;
    position: relative;
    margin-top: -200px;
    margin-left: -30px;
}


/* <!-- careers section start --> */

.career {
    background-color: #FF42A5;
}


 .careers-container {
    max-width: 1140px;
    min-height: 500px;
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
 }
.careers-text {
    width: 50%;
    margin-top: 50px;
    color: aliceblue;
}

.careers-img {
    width: 50%; 
}

.para-career {
    display: flex;
}

.careers-img img {
    width: 120%;
}

.careers-text h1 {
    font-size: 30px;
    padding-bottom: 20px;
}

.career-para-text {
    line-height: 30px; 
    padding-bottom: 10px;
}

.para-career p {
    line-height: 30px; 
}

/* multiple-games section start  */

.multiple-games-container {
    max-width: 1140px;
    margin: 70px auto;
   
}
.game-zone1 {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

}

.game-zone {
    display: flex;
    align-items: center;
    height: 70%;
    width: 100%;
    background-color: #f8f7f7;
    color: #000000;
    border-radius: 50px;
    padding: 10px;
}

.game-zone p {
    padding-left: 20px;
    font-size: 10px;
    font-weight: 600;
}

.game-zone:hover {
    outline: 1px solid #FF42A5;
    color: #FF42A5;
    transition: 0.3s;
    
}

.gz  {
        margin-left: 100px;
    }



.game-zone img {
    width: 15%;
}


/* footer section start */

footer {
    background-color: #0B0223;
    color: #FFF;
}

.footer-container {
    max-width: 1140px;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.f-logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-bottom: 20px;
}

.f-logo-footer p {
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
}

.f-icon {
    color: #FF42A5; 
}





.terms-con {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    text-align: center;
}

.small-end {
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
}

.story {
    margin-right: 30px;

}
.our-story {
    margin-bottom: 20px;
    margin-left: 20px;
    line-height: 40px;
    text-align: center;
}

.f-social-icons {
    text-align: center;
    margin-bottom: 20px  ;
}


.f-container {
    text-align: center;
}

.terms-service {
    margin-bottom: 40px;
    line-height: 40px;
    text-align: center;
}

.terms-con {
   margin: 0 30px;
}

.fa-brands {
    font-size: 35px;
}





/* ---------------------------------------------------- */


/* mobile devices */

@media screen and (max-width: 576px) {
    .nav-container, ul,.gamer-container, .careers-container  {
        flex-direction: column;
    }
    .logo {
        width: 100%;
        justify-content: center;
        margin-top: 25px;
    }
    .header-container,.downlode-container {
        flex-direction: column-reverse;
    }
    ul {
        width: 100%;
        margin-top: 20px;
    }
    li {
        margin-top:10px ;
    }
    .nav-button {
        margin-top: 15px;
    } 
    nav {
        box-shadow: 2px 2px 10px rgb(255, 255, 255);
    }
    .header-text, .header-img {
        width: 100%;
        padding: 20px;
    }
    .header-text1 {
        margin-left: 40px;
    }
    .game-text {
        text-align: center;
        width: 100%;
    }
    .cards-box {
        grid-template-columns: 1fr;
        margin-left: 80px ;
    }
    .c-box {
        margin-top: 20px;
    }

    .downlode-text {
        width: 100%;
        text-align: center;
    }

    .d-text {
        text-align: center;
    }
    .d-img img {
        width: 40%;
        margin-left: 30px;
    } 

    .downlode-img, .d-img1 {
        width: 80%;
    }

    .d-text h1 {
        text-align: center;
    }

    .d-text p {
        text-align: center;

    }
    .careers-text {
        width: 100%;
        margin-top: 50px;
        color: aliceblue;
    }
    
    .careers-img img {
        width: 200%; 
    }
    
    .careers-text h1 {
        font-size: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }
    
    .career-para-text {
        line-height: 20px; 
        padding-bottom: 10px;
        font-size: 12px;
        padding-left: 20px;
    }
    
    .para-career p {
        line-height: 20px; 
        font-size: 15px;
    }

    .para2 p, .para1 p {
        font-size: 11px;
        padding-left: 40px;
    }
    .game-zone1 {
        grid-template-columns: repeat(3,1fr);
    }


/* --------------------------- */

.game-zone p {
    padding-left: 20px;
    font-size: 7px;
    font-weight: 600;
}

.game-zone:hover {
    border: 1px solid #FF42A5;
    color: #FF42A5;
}

.game-zone img {
    width: 10%;
}

.game-zone {
    width: 100%;
}

.gz {
    margin-left: 0px;
}
/* ------------------------------ */
.cards {
    grid-template-columns: 1fr;
    gap: 70px;
}

.online-game-container {
    min-height: 1000px;
}
.photo-container .main-photo  {
    width: 170px;
    margin-left: 120px;
}

.c-text {
    margin-left: 120px;
    font-size: 10px;
}
}






/* Tab devices */

@media screen and (min-width:576px) and (max-width:960px) {
    
.nav-container {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

    .nav-button {
        margin-right: 10px;
    }
    li {
        margin-left: 30px;
    }
    ul {
        width: 100%;
    }

    .gamer-container, .careers-container {
        flex-direction: column;
    }
    .game-text {
        text-align: center;
        width: 100%;
    }
    .cards-box {
        grid-template-columns: repeat(2,1fr);
        margin-left: 80px ;
    }

    .c-box {
        margin-top: 20px;
    }

    .downlode-text {
        width: 100%;
        text-align: center;
    }

    .d-text {
        text-align: center;
    }
    .d-img img {
        width: 40%;
        margin-left: 30px;
    } 

    .downlode-img, .d-img1 {
        width: 80%;
    }

    .downlode-container {
        flex-direction: column-reverse;
    }

    .careers-text {
        width: 100%;
        margin-top: 50px;
        color: aliceblue;
    }
    
    .careers-img img {
        width: 200%; 
    }
    
    .careers-text h1 {
        font-size: 20px;
        padding-bottom: 20px;
    }
    
    .career-para-text {
        line-height: 30px; 
        padding-bottom: 10px;
    }
    
    .para-career p {
        line-height: 20px; 
        font-size: 15px;
    }

    .multiple-games-container {
        grid-template-columns: repeat(3,1fr);
    }

    .gz {
        margin-left: 0px;
    }
    
}